$('#alertas').empty();
$('#alertas').html('<%= escape_javascript render(@resultado_alertas) %>');
$('#cont').html('<%= escape_javascript(page_entries_info(@resultado_alertas, entry_name: t('activerecord.all.alert')).to_s) %>');
$('#paginator').html('<%= escape_javascript(paginate(@resultado_alertas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true).to_s) %>');
$('#cont_p').html('<%= escape_javascript(page_entries_info(@resultado_alertas, entry_name: t('activerecord.all.alert')).to_s) %>');
$('#paginator_p').html('<%= escape_javascript(paginate(@resultado_alertas, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true).to_s) %>');

$(".show_more").click(function () {
    var id = $(this).children(".id_tran").text()
    var tiene = $("#detail" + id).hasClass("cerrado")

    if (tiene) {
        $("#detail" + id).show()
        $("#detail" + id).removeClass("cerrado")
        $("#detail" + id).addClass("abierto")
        $(this).children(".show").html("")
        $(this).children(".show").append('<i class="fa fa-minus-square" aria-hidden="true"></i>')
//
    } else {
        $("#detail" + id).hide()
        $("#detail" + id).removeClass("abierto")
        $("#detail" + id).addClass("cerrado")
        $(this).children(".show").html("")
        $(this).children(".show").append('<i class="fa fa-plus-square" aria-hidden="true"></i>')
//
    }
})