<p id="notice"><%= notice %></p>

<p>
  <strong>Id categori:</strong>
  <%= @categori_filter.id_categori %>
</p>

<p>
  <strong>Id filter:</strong>
  <%= @categori_filter.id_filter %>
</p>

<%= link_to 'Edit', edit_categori_filter_path(@categori_filter) %> |
<%= link_to 'Back', categori_filters_path %>
