<div class="block-area" id="responsiveTable">
  <div class="ibox-title">
    <h1><%= t('views.filter_cate.title') %></h1>
    <div class="panel">
      <div class="panel-body">
        <div class="block-area" id="tableBordered">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-3"></div>
              <!--              <div class="col-md-6">-->
              <!--                <input type="search" value="" class="form-control input-sm m-b-xs" id="search" placeholder=<%#= t('all.btn_search') %>><br>-->
              <!--              </div>-->
              <div class="col-md-3"></div>
            </div>
            <!-- Boton -->

            <div>

              <%= link_to "<i class='fa fa-filter'></i> #{t('views.filter_new.title')}".html_safe, new_filtering_categorization_path, :class => 'btn btn-primary btn-xs' %>
              <br><br>
              <table class="table table-bordered table-striped table-condensed toggle-circle-filled tile" datapagesize="8" data-filter=#filter id="table">
                <thead>
                <tr>
                  <th class="text-center">Name categorization</th>
                  <th class="text-center"><%= t('all.show') %></th>
                  <th class="text-center" data-hide="phone"><%= t('all.edit') %> </th>
                  <th class="text-center" data-hide="phone"><%= t('all.destroy') %></th>
                </tr>
                </thead>
                <tbody>
                <% @filtering_categorizations.each do |filtering_categorization| %>
                  <tr>
                    <td align="center"><%= filtering_categorization.name_categorization %></td>
                    <% cat_fil = CategoriFilter.where("id_categori = #{filtering_categorization.id}") %>
                    <% datos = Array.new %>
                    <% contador = 0 %>
                    <% bit = Tbitacora.where("Fecha = '#{@tiempo}'") %>
                    <% cat_fil.each do |ca_fi| %>
                      <% bit.each do |b| %>
                        <% if ca_fi.id_filter == b.IdFiltro %>
                          <% contador+= 1%>
                          <% datos.push(contador)%>
                        <% end %>
                      <% end %>
                    <% end %>
                    <%# txfil = TxFilters.where("filtering_categorization_id = #{filtering_categorization.id}") %>
                    <%# datTot = Array.new %>
                    <%# count = 0%>
                    <%# bit = Tbitacora.where("Fecha = '#{@tiempo}'") %>
                    <%# txfil.each do |txf| %>
                    <%# bit.each do |bita| %>
                    <%# if txf.Id == bita.IdFiltro %>
                    <%# count+= 1%>
                    <%# datTot.push(count)%>
                    <%# end %>
                    <%# end %>
                    <%# end %>
                    <% if (filtering_categorization.categori_filters.count > 0) && (datos.length > 0)%>
                                          <td align="center"><%= link_to '<i class="fa fa-file-text "></i>'.html_safe, filtering_categorization, :class => 'btn btn-primary btn-xs' %></td>
                    <% else %>
                    <td align="center"><span><i class="fa fa-signal"></i></span> <%= t('views.filter_new.trans')%></td>
                    <% end %>
                    <td align="center"><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_filtering_categorization_path(filtering_categorization), :class => 'btn btn-warning btn-xs' %></td>
                    <td align="center"><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, filtering_categorization, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'tn btn-danger btn-xs  eliminar' %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <!-- Boton -->
            <%= link_to "<i class='fa fa-filter'></i> #{t('views.filter_new.title')}".html_safe, new_filtering_categorization_path, :class => 'btn btn-primary btn-xs' %>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>