<p id="notice"><%= notice %></p>

<h1>Table Orders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name column</th>
      <th>Order</th>
      <th>Table</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_orders.each do |table_order| %>
      <tr>
        <td><%= table_order.user_id %></td>
        <td><%= table_order.name_column %></td>
        <td><%= table_order.order %></td>
        <td><%= table_order.table_id %></td>
        <td><%= link_to 'Show', table_order %></td>
        <td><%= link_to 'Edit', edit_table_order_path(table_order) %></td>
        <td><%= link_to 'Destroy', table_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table Order', new_table_order_path %>
