/* line 6, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.inValue {
  display: flex;
  flex-direction: row;
}
/* line 10, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.inValue .anchoSelect {
  width: 50%;
  padding-right: 3em;
}

/* line 17, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.upFiles {
  background-color: #fff;
  border: 1px solid #e5e6e7;
  padding: .4em;
}
/* line 22, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.upFiles .custonText {
  color: #aaa;
}

/* line 28, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.s_Condition {
  background-color: #fff;
  border-radius: 5px;
  height: 400px;
  overflow: auto;
  padding: 0;
}

/* line 36, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.container {
  background-color: #fff;
  border-radius: 5px;
  overflow: auto;
  height: 400px;
  width: 105%;
  transition: all .3s ease;
}

/* line 47, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.container::-webkit-scrollbar, .s_Condition::-webkit-scrollbar {
  width: 8px;
  /*=> ancho del scroll*/
  background-color: #000000;
  /*=> Color del fondo principal */
}
/* line 52, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.container::-webkit-scrollbar-track, .s_Condition::-webkit-scrollbar-track {
  background-color: #ccc;
}
/* line 56, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.container::-webkit-scrollbar-thumb, .s_Condition::-webkit-scrollbar-thumb {
  background-color: #0c3056;
  /*=> color del indicador del scroll */
  border-radius: 10px;
  /*=> bordes redondeados */
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3));
}

/* line 64, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.condition {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  z-index: 99999;
}

/* line 69, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.over {
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.57);
  -webkit-transform: scale(1.01);
}

/* line 76, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.cloneCondition {
  cursor: move;
}

/* line 81, /home/jose/Documentos/Proyectos/gestorcentral-web-nuevo-jgarcia/app/assets/stylesheets/tx_sessions.scss */
.btn-width {
  margin-bottom: .5em;
  overflow: hidden;
  width: 98px;
}
