<%= javascript_include_tag 'alertn.js' %>
<%= javascript_include_tag 'shearch_colum.js' %>
<%= javascript_include_tag 'iCheck/icheck.min.js' %>
<%
  puts @transacciones.to_s
  if @exito.present?
    puts "entre"
  end
%>

<!-- Tabla 2 -->
<% wc2 = TableOrder.where("user_id = #{current_user.id} and table_id = 'thead'").count %>
<% word2 = TableOrder.where("user_id = #{current_user.id} and table_id = 'thead'") %>

<% if !@transacciones.nil? && @transacciones.length > 0 %>
  <!--<table id="table1" class="table table-striped" id="tb_re2">-->
  <table id="table_tran" class="table table-bordered table- table-condensed table-striped">
    <!--<thead class="sorted_head2" id="thead">-->
    <thead class="sorted_head2" id="thead">
    <tr id="totalr">
      <th class="text-center"><%= t('views.alertc_index.date') %></th>
      <% if wc2 > 0 %>
        <% word2.each do |wo1| %>
          <% @cols_ref.each do |cr| %>
            <% @campor = cr.campo.remove("'") %>
            <% if wo1.name_column == @campor %>
              <th class="text-center"><%= @campor %></th>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% @cols_ref.each do |cr| %>
          <% @campor = cr.campo.remove("'") %>
          <th class="text-center"><%= @campor %></th>
        <% end %>
      <% end %>
      <th class="text-center"><%= t('views.new_alert_tran.fraud') %></th>
      <th class="text-center"><%= t('views.new_alert_tran.pending') %></th>
    </tr>
    </thead>
    <tbody>
    <% @fraud_s = "" %>
    <% @pending_s = "" %>
    <% @transacciones.each do |tt| %>
      <tr>
        <td class="text-center datosTabla"><%= tt[:fecha] %>
          <%= tt[:tt] %>,<%= tt[:id_tran] %>
        </td>
        <% if wc2 > 0 %>
          <% word2.each do |wo1| %>
            <% @cols_ref.each do |cr| %>
              <% @campor = cr.campo.remove("'") %>
              <% if wo1.name_column == @campor %>
                <td class="text-center datosTabla"><%= tt[@campor] %></td>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% @cols_ref.each do |cr| %>
            <% @campor = cr.campo.remove("'") %>
            <%#= @campor %>
            <td class="text-center datosTabla"><%= tt[@campor] %></td>
            <%#= tt[@campor] %>
          <% end %>
        <% end %>
        <%# @cols_ref.each do |cr| %>
        <%# @campor = cr.campo.remove("'") %>
        <!--<td class="text-center datosTabla"><%#= tt[@campor] %></td>-->
        <%# end %>
        <td class="text-center datosTabla">
          <% @fraude = TransaccionesDeAlerta.where(:idAlerta => @IdAlerta).where(:idTran => tt[:id_tran]).where(:ttTableName => tt[:tt]).where(:transaction_type => 1).first %>
          <% if @fraude.present? && !@fraude.nil? %>
            <input type="checkbox" class="i-checks aplicar check_all fraud" value="<%= tt[:tt] %>,<%= tt[:id_tran] %>" name="status<%= tt[:id_tran] %>" id="fraud<%= tt[:id_tran] %>" checked>
            <%= @fraud_s = @fraud_s + tt[:tt] + ',' + tt[:id_tran] + '|' %>
          <% else %>
            <input type="checkbox" class="i-checks aplicar check_all fraud" value="<%= tt[:tt] %>,<%= tt[:id_tran] %>" name="status<%= tt[:id_tran] %>" id="fraud<%= tt[:id_tran] %>">
          <% end %>
        </td>
        <td class="text-center datosTabla">
          <% @pendiente = TransaccionesDeAlerta.where(:idAlerta => @IdAlerta).where(:idTran => tt[:id_tran]).where(:ttTableName => tt[:tt]).where(:transaction_type => 2).first %>
          <% if @pendiente.present? && !@pendiente.nil? %>
            <input type="checkbox" class="i-checks aplicar check_all pending" value="<%= tt[:tt] %>,<%= tt[:id_tran] %>" name="status<%= tt[:id_tran] %>" id="pending<%= tt[:id_tran] %>" checked>
            <%= @pending_s = @pending_s + tt[:tt] + ',' + tt[:id_tran] + '|' %>
          <% else %>
            <input type="checkbox" class="i-checks aplicar check_all pending" value="<%= tt[:tt] %>,<%= tt[:id_tran] %>" name="status<%= tt[:id_tran] %>" id="pending<%= tt[:id_tran] %>">
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <label><%= t('views.new_alert_tran.no_alerts_tran') %></label>
  <% @exito %>
<% end %>

<% if @exito.present? || @exito == true %>
  <%= @exito %>
  <script>

      swal({
          title: "<%= t('views.new_alert_tran.search_ready') %>",
          type: "success"
      });

      $('.rdiv').css('display', 'none');
      $('td').children('input').addClass('form-control input-sm').attr('placeholder', 'Search');
      var totalHijos = $('td').children('input').length;

      //---- Se divide el total en el 100% del ancho del contenedor
      var width = 100 / totalHijos;
      $('.datosTabla').css('width', `${width}%`);

      $('caption').addClass('stickyRows');
      $('#thead').addClass('stickyTableSearch');

      $(function () {
          var elem = document.querySelector('.js-switch');
          var switchery = new Switchery(elem, {color: '#003057'});

          $('.i-checks').iCheck({
              checkboxClass: 'icheckbox_square-green',
              radioClass: 'iradio_square-green',
          });
      })
  </script>
<% end %>

<script>
    <% if @nuevo_hist %>
    <% if @seguimiento == true %>
    localStorage.setItem("Fraud", "")
    localStorage.setItem("Pending", "")
    <% else %>
    localStorage.setItem("Fraud", "<%= @fraud_s %>")
    $("#fraud_tt").val("<%= @fraud_s %>")
    localStorage.setItem("Pending", "<%= @pending_s %>")
    $("#pending_tt").val("<%= @pending_s %>")
    <% end %>
    <% end %>

    $(function () {
        $(".loading").hide();
    })


    $('#contentMailGroups').click(function () {
        var hijo = $("#gruposMail").children('div.i-checks')
        var nieto = hijo.children('div.iradio_square-green')

        var check = $(".mail_groups").parent().hasClass('checked')
        var tieneClass = nieto.hasClass('checked')

        if (check == true) {
            $(".mail_groups").attr("checked", false)
            $(".mail_groups").parent().removeClass("checked")
            $(".emails").html("")
            $("#guardar").html('<i class="fa fa-floppy-o"></i> <%= t('all.save') %>')
        }
    });

    $(".mail_groups").on("ifChecked", function () {
        $(".emails").html("")
        var id = $(this).attr("id");
        id = id.slice(6)
        // cont = 0

        for (i = 0; i < gon.emails.length; i++) {
            if (gon.emails[i].group_id == id) {
                $(".emails").append(`<strong>${gon.emails[i].correo}</strong><br>`)
            }
        }

        hayCorreos = $('.emails').children().length

        if (hayCorreos == 0) {
            $(".emails").append('<strong><%= t('views.alert_new_index.not_mails') %></strong>').css('padding', '1em')
            $("#guardar").text('<%= t('all.save') %>')
        }

        $("#guardar").html('<i class="fa fa-floppy-o"></i> <%= t('all.save_send') %>')

    })

    $('#table_tran input.fraud').on('ifChecked', function (event) {
        var fraud = $(this).val()
        var id = fraud.split(',')
        id = id[1]

        // SI SELECCIONO FRAUDE, NO PUEDE SER PENDIENTE
        $("#pending" + id).iCheck('uncheck');
        var no_pend = $("#pending" + id).val();

        var lcp = localStorage.getItem("Pending");
        if (lcp == null) {
            lcp = ""
        }

        var checked_pending = lcp.split('|')

        var existe = jQuery.inArray(no_pend, checked_pending)

        // ELIMINO DE LOCAL STORAGE PENDIENTE
        if (existe != -1) {
            checked_pending.splice(existe, 1)
            checked_pending = checked_pending.join("|");
            localStorage.setItem("Pending", checked_pending)
        }

        $("#pending_tt").val(localStorage.getItem("Pending"))

        // SE AGREGA A LOCAL STORAGE DE FRAUDE
        var lc = localStorage.getItem("Fraud")
        if (lc == null) {
            lc = ""
        }

        var checked_fraud = lc.split('|')

        var existe = jQuery.inArray(fraud, checked_fraud)

        if (existe == -1) {
            if (lc == "") {
                localStorage.setItem("Fraud", lc + fraud);
            } else {
                localStorage.setItem("Fraud", lc + "|" + fraud);
            }
        }

        if (lc == "") {
            // aqui se hace algo si localStorage está vacio
        } else {
            // aqui se hace algo si localStorage NO está vacio
        }

        $("#fraud_tt").val(localStorage.getItem("Fraud"))

        console.log(lc)
    })
    $('#table_tran input.pending').on('ifChecked', function (event) {
        var pend = $(this).val()
        var id = pend.split(',')
        id = id[1]

        // SI SELECCIONO FRAUDE, NO PUEDE SER PENDIENTE
        $("#fraud" + id).iCheck('uncheck');
        var no_fraud = $("#fraud" + id).val();

        var lcf = localStorage.getItem("Fraud");
        if (lcf == null) {
            lcf = ""
        }

        var checked_fraud = lcf.split('|')

        var existe = jQuery.inArray(no_fraud, checked_fraud)

        // ELIMINO DE LOCAL STORAGE PENDIENTE
        if (existe != -1) {
            checked_fraud.splice(existe, 1)
            checked_fraud = checked_fraud.join("|");
            localStorage.setItem("Fraud", checked_fraud)
        }

        $("#fraud_tt").val(localStorage.getItem("Fraud"))

        // AGREGO A LOCAL STORAGE PENDIENTE
        var lc = localStorage.getItem("Pending")
        if (lc == null) {
            lc = ""
        }

        var checked_pending = lc.split('|')

        var existe = jQuery.inArray(pend, checked_pending)

        if (existe == -1) {
            if (lc == "") {
                localStorage.setItem("Pending", lc + pend);
            } else {
                localStorage.setItem("Pending", lc + "|" + pend);
            }
        }


        if (lc == "") {
            // aqui se hace algo si localStorage está vacio
        } else {
            // aqui se hace algo si localStorage NO está vacio
        }

        $("#pending_tt").val(localStorage.getItem("Pending"))

        console.log(lc)

    })

    $('#table_tran input.fraud').on('ifUnchecked', function (event) {
        var no_fraud = $(this).val()

        var lc = localStorage.getItem("Fraud");
        if (lc == null) {
            lc = ""
        }

        var checked_fraud = lc.split('|')

        var existe = jQuery.inArray(no_fraud, checked_fraud)

        if (existe != -1) {
            checked_fraud.splice(existe, 1)
            checked_fraud = checked_fraud.join("|");
            localStorage.setItem("Fraud", checked_fraud)
        }


        if (lc == "") {
            // aqui se hace algo si localStorage está vacio
        } else {
            // aqui se hace algo si localStorage NO está vacio
        }

        $("#fraud_tt").val(localStorage.getItem("Fraud"))

        console.log(lc)

    })
    $('#table_tran input.pending').on('ifUnchecked', function (event) {
        var no_pend = $(this).val()

        var lc = localStorage.getItem("Pending");
        if (lc == null) {
            lc = ""
        }

        var checked_pending = lc.split('|')

        var existe = jQuery.inArray(no_pend, checked_pending)

        if (existe != -1) {
            checked_pending.splice(existe, 1)
            checked_pending = checked_pending.join("|");
            localStorage.setItem("Pending", checked_pending)
        }


        if (lc == "") {
            // aqui se hace algo si localStorage está vacio
        } else {
            // aqui se hace algo si localStorage NO está vacio
        }

        $("#pending_tt").val(localStorage.getItem("Pending"))

        console.log(lc)

    })


</script>

<style>
  .stickyRows {
    position: sticky;
    top: -1.12em;
    background-color: white;
    z-index: 10;
  }

  .stickyTableSearch tr td, tr th {
    position: sticky;
    position: -webkit-sticky;
    z-index: 10;
    transition: all .5s ease;
  }

</style>