<div class="row" id="margen">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class="row">
          <div class="col-xs-10">
            <% if @id_consulta %>
              <h1><%= t('all.follow_a') %> Key Monitor Perfiles</h1>
            <% else %>
              <h1><%= t('all.new_a') %> Key Monitor Perfiles</h1>
            <% end %>
          </div>
          <div class="col-xs-2 text-center">
            <% if @id_consulta %>
              <%= link_to t('views.new_alert_tran.next_al'), alertn_alertPer_path, :class => "btn btn-w-m btn-info dim", :data => {:no_turbolink => true} %> &nbsp;&nbsp;
            <% end %>
          </div>
        </div>
      </div>
      <div class="ibox-content relative" id="responsiveTable">

        <br>
        <% if @id_consulta %>
          <div class="row">
            <div class="col-sm-12 text-right">
              <% if @crearNewPer == 8 %>
                <button class="btn btn-primary btn-xs xls_g" type="button" id="<%= @alerta_Tran.Id %>">
                  <i class="fa fa-floppy-o"></i> XLS
                </button>
              <% end %>
              <input type="hidden" id="idioma" name="idioma" value="<%= params[:locale] %>">
            </div>
          </div>
        <% end %>

        <div id="numTarjeta" class="row">
          <div class="col-sm-12">
            <section class="block-area">
              <h2 style="text-align:center;"> <%= t('config.main') %>: <%= @alerta_Tran.IdTran %> </h2>
            </section>
          </div>
        </div>

        <div id="detail" class="ibox arrastra" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.detail') %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content transactions" style="display: block;">
            <table class="table table-bordered table- table-condensed table-striped">
              <thead>
              <tr>
                <th><%= t('views.new_alert_tran.ticket') %></th>
                <th><%= t('views.new_alert_tran.date_hour') %></th>
                <th><%= t('views.new_alert_tran.origin_s') %></th>
                <th><%= t('views.new_alert_tran.message') %></th>
                <th><%= t('views.new_alert_per.group') %></th>
                <th><%= t('views.new_alert_per.profile') %></th>
              </tr>
              </thead>

              <tbody>

              <tr>
                <td><%= @alerta_Tran.Id %></td>
                <td><%= @alerta_Tran.Fecha %>
                  <bl></bl><%= @alerta_Tran.Hora %></td>
                <% if @alerta_Tran.IdProducto == 1 %>
                  <td><%= "Transaccional" %></td>
                <% else %>
                  <td><%= "Perfiles" %></td>
                <% end %>
                <td><%= @alerta_Tran.Mensaje %></td>
                <td>
                  <% if @alerta_Tran.tgrupos.present? %>
                    <%= @alerta_Tran.IdGrupo %>-<%= @alerta_Tran.tgrupos.Nombre %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
                <td>
                  <% if @alerta_Tran.tperfiles.present? %>
                    <%= @alerta_Tran.IdPerfil %>-<%= @alerta_Tran.tperfiles.Nombre %>
                  <% else %>
                    N/A
                  <% end %>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="ibox" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.ref') %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content ref-wrapper" style="display: block;">
            <table class="table table-bordered table- table-condensed table-striped reference-table" style="overflow-x: scroll">
              <% @camposref = @alerta_Tran.Referencia.split(">") %>
              <thead>
              <tr>
                <% @camposref.each do |valor| %>
                  <th><%= valor.split("=").first.from(5) %></th>
                <% end %>
              </tr>
              </thead>

              <tbody>
              </tr>
              <% @camposref.each do |valor| %>

                <% if valor.split("=").length > 1 %>
                  <td><%= valor.split("=").last.split("<").last %></td>
                <% else %>
                  <td></td>
                <% end %>

              <% end %>

              </tr>

              </tbody>
            </table>
          </div>
        </div>

        <% if @id_consulta %>
          <div class="ibox" style="border: 1px solid #E7EAEC">
            <div class="ibox-title" style="color: #2F4050">
              <h5><%= t('views.new_alert_tran.obse') %></h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content" style="display: block;">
              <% if @observaciones %>
                <div class="row">
                  <div class="col-sm-7"></div>
                  <div class="col-sm-5 text-right">
                    <div style="margin-bottom: 2em;">
                      <div class="detall_left" id="cont_obse">
                        <%= page_entries_info @observaciones, entry_name: t('views.new_alert_tran.obse') %>
                      </div>
                      <div class="pag_right" id="paginator_obse">
                        <%= paginate @observaciones, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'obse', :observaciones => nil} %>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered table- table-condensed table-striped">
                  <thead>
                  <tr>
                    <th><%= t('views.new_alert_tran.date_hour') %></th>
                    <th><%= t('views.new_alert_tran.obse') %></th>
                    <th><%= t('views.new_alert_tran.state') %></th>
                    <th><%= t('views.new_alert_tran.user_atn') %></th>
                  </tr>
                  </thead>
                  <tbody id="obse_hist">
                  <%= render @observaciones %>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-sm-7"></div>
                  <div class="col-sm-5 text-right">
                    <div style="margin-bottom: 2em;">
                      <div class="pag_right" id="paginator_p_obse">
                        <%= paginate @observaciones, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'obse', :observaciones => nil} %>
                      </div>
                      <div class="detall_left" id="cont_p_obse">
                        <%= page_entries_info @observaciones, entry_name: t('views.new_alert_tran.obse') %>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <label><%= t('views.new_alert_tran.no_alerts_ob') %></label>
              <% end %>

              <div class="row">
                <div class="col-xs-12 text-right">
                  <% if @editarNewPer == 4 %>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" id="modal_opener">
                      <%= t('views.new_alert_tran.add_obse') %>
                    </button>
                  <% end %>
                </div>
              </div>
              <% if @editarNewPer == 4 %>
                <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title"><%= t('views.new_alert_tran.work') %></h4>
                      </div>
                      <%= form_tag({:controller => "alertn", :action => "alertPer"}, :method => "get") do %>
                        <div class="modal-body">

                          <% if @id_consulta %>
                            <input type="hidden" name="id" value="<%= @id_consulta %>">
                          <% end %>
                          <input type="hidden" name="id_tran" value="<%= @alerta_Tran.id %>">
                          <input type="hidden" value="
                            <% @alerta_Tran.id %>" name="idTran">
                          <input type="hidden" id="valor" name="historico">
                          <div class="form-group">
                            <label><%= t('views.new_alert_tran.obse') %></label>
                            <textarea name="observaciones" autocomplete="off" required rows="4" cols="20" placeholder="<%= t('views.new_alert_tran.placeh_obse') %>" class="form-control input-sm"></textarea>
                          </div>


                          <div class="form-group">
                            <label><%= t('views.new_alert_tran.state') %></label>
                            <select name="estado" class="form-control input-sm m-b-10" required id="state_ob">
                              <option value=""><%= t('views.new_alert_tran.placeh_states') %></option>
                              <% @states.each do |st| %>
                                <option value="<%= st.IdEstado %>"><%= st.Descripcion %></option>
                              <% end %>
                            </select>
                            <br>
                            <div id="fraud_radio">
                              <label><%= t('views.niv_alert_index.fraud') %></label>
                              <div class="i-checks">
                                <label> <input type="radio" value="1" name="fraud" id="fraud_yes">
                                  <i></i> <%= t('all.yes') %>
                                </label></div>
                              <div class="i-checks">
                                <label> <input type="radio" value="0" name="fraud" id="fraud_no"> <i></i> No
                                </label>
                              </div>
                            </div>
                          </div>

                          <% if @ConsultaHistTbit.present? %>
                            <div class="form-group" id="checkbox_apply">
                              <label><%= t('views.new_alert_tran.apply') %></label>
                              <input type="checkbox" class="i-checks" value="true" name="apply" id="apply_obse" disabled>
                              <br>
                              <font color="#8b0000"><label id="errorSel" style="display: none;"></label></font>
                            </div>

                            <script>
                                $("#checkbox_apply").click(function () {
                                    console.log("entre")
                                    var lc = localStorage.getItem("Selected")

                                    if (lc == "") {
                                        console.log("lc no tiene nada")
                                        var msg = "<%= t('views.new_alert_tran.apply_err')%>";
                                        document.getElementById('errorSel').innerHTML = msg;
                                        $("#errorSel").show();
                                        $(this).iCheck('uncheck');
                                    } else {
                                        $("#errorSel").hide();
                                    }
                                });

                                $("#modal_opener").click(function () {
                                    $("#errorSel").hide();
                                })
                            </script>
                          <% end %>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                          <%= button_tag(type: 'submit', class: 'btn btn-w-m btn-success') do %>
                            <%= t('all.save') %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% else %>
          <% if @editarNewPer == 4 %>
            <div class="ibox" style="border: 1px solid #E7EAEC">
              <div class="ibox-title" style="color: #2F4050">
                <h5><%= t('views.new_alert_tran.work') %></h5>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content" style="display: block;">
                <%= form_tag({:controller => "alertn", :action => "alertPer"}, :method => "get") do %>
                  <% if @id_consulta %>
                    <input type="hidden" name="id" value="<%= @id_consulta %>">
                  <% end %>
                  <input type="hidden" name="id_tran" value="<%= @alerta_Tran.id %>">
                  <input type="hidden" value="
                  <% @alerta_Tran.id %>" name="idTran">
                  <input type="hidden" id="valor" name="historico">
                  <div class="form-group">
                    <label><%= t('views.new_alert_tran.obse') %></label>
                    <textarea name="observaciones" autocomplete="off" required rows="4" cols="20" placeholder="<%= t('views.new_alert_tran.placeh_obse') %>" class="form-control input-sm"></textarea>
                  </div>


                  <div class="form-group">
                    <label><%= t('views.new_alert_tran.state') %></label>
                    <select name="estado" class="form-control input-sm m-b-10" required id="state_ob">
                      <option value=""><%= t('views.new_alert_tran.placeh_states') %></option>
                      <% @states.each do |st| %>
                        <option value="<%= st.IdEstado %>"><%= st.Descripcion %></option>
                      <% end %>
                    </select>
                    <br>
                    <div id="fraud_radio">
                      <label><%= t('views.niv_alert_index.fraud') %></label>
                      <div class="i-checks">
                        <label> <input type="radio" value="1" name="fraud" id="fraud_yes">
                          <i></i> <%= t('all.yes') %>
                        </label></div>
                      <div class="i-checks">
                        <label> <input type="radio" value="0" name="fraud" id="fraud_no"> <i></i> No </label>
                      </div>
                    </div>
                  </div>

                  <% if @ConsultaHistTbit.present? %>
                    <div class="form-group">
                      <label><%= t('views.new_alert_tran.apply') %></label>
                      <input type="checkbox" class="i-checks" value="true" name="apply" id="apply_obse" disabled>
                    </div>
                  <% end %>

                  <%= button_tag(type: 'submit', class: 'btn btn-w-m btn-success') do %>
                    <%= t('all.save') %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="ibox" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.hist') %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content" style="display: block;">
            <% if @ConsultaHistTbit.present? %>
              <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-5 text-right">
                  <div style="margin-bottom: 2em;">
                    <div class="detall_left" id="cont">
                      <%= page_entries_info @ConsultaHistTbit, entry_name: t('activerecord.all.alert') %>
                    </div>
                    <div class="pag_right" id="paginator">
                      <%= paginate @ConsultaHistTbit, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'hist', :observaciones => nil} %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2 text-right ">
                  <button type="button" class="btn btn-xs btn-info unsel" id="check_all">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                    <label> <%= t('views.permisos_edit.select') %> </label>
                  </button>
                </div>
              </div>

              <br>

              <table class="table table-bordered table- table-condensed table-striped" id="tab">
                <thead>
                <tr>
                  <th width="15"></th>
                  <th><%= t('views.new_alert_tran.ticket') %></th>
                  <th><%= t('views.new_alert_tran.date_hour') %></th>
                  <th><%= t('views.new_alert_tran.origin_s') %></th>
                  <th><%= t('views.new_alert_tran.filter') %></th>
                  <th><%= t('views.new_alert_tran.state') %></th>
                  <th><%= t('views.new_alert_tran.analyst') %></th>
                  <% if @editarNewPer == 4 %>
                    <th><%= t('views.new_alert_tran.attend') %></th>
                  <% end %>
                </tr>
                </thead>

                <tbody id="alertas_hist">
                <%= render @ConsultaHistTbit %>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-5 text-right">
                  <div style="margin-bottom: 2em;">
                    <div class="pag_right" id="paginator_p">
                      <%= paginate @ConsultaHistTbit, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'hist', :observaciones => nil} %>
                    </div>
                    <div class="detall_left" id="cont_p">
                      <%= page_entries_info @ConsultaHistTbit, entry_name: t('activerecord.all.alert') %>
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <label><%= t('views.new_alert_tran.no_alerts') %></label>
            <% end %>

          </div>
        </div>

        <div class="ibox" style="border: 1px solid #E7EAEC">
          <div class="ibox-title" style="color: #2F4050">
            <h5><%= t('views.new_alert_tran.hist_tran') %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content transactions" style="display: block;">
            <% if !@transacciones.nil? && @transacciones.length > 0 %>
              <table class="table table-bordered table- table-condensed table-striped">
                <thead>
                <tr>
                  <% @cols_ref.each do |cr| %>
                    <% @campor = cr.campo.remove("'") %>
                    <th><%= @campor %></th>
                  <% end%>
                </tr>
                </thead>
                <tbody>
                <% @transacciones.each do |tt| %>
                  <tr>
                    <% @cols_ref.each do |cr| %>
                      <% @campor = cr.campo.remove("'") %>
                      <td><%= tt[@campor] %></td>
                    <% end%>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% else %>
              <label><%= t('views.new_alert_tran.no_alerts_tran') %></label>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    //----- Fixed para Num-Tarjeta y Detalle
    $(document).ready( function(){


        $(window).scroll(function(){
            console.log($(this).scrollTop());
            if( $(this).scrollTop() > 246 ){
                $('#numTarjeta').addClass('fixed').removeClass('row');
                $('#detail').addClass('fixed2');
                $('.relative').css('padding-top', '250px')
            } else {
                $('#numTarjeta').removeClass('fixed').addClass('row');
                $('#detail').removeClass('fixed2');
                $('.relative').css('padding-top', '0')
            }
        });
    });
    //----- Fin Fixed para Num-Tarjeta y Detalle

    <% if @nuevo %>
    localStorage.setItem("Selected", "")
    <% end %>

    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {color: '#1AB394'});
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    $(function(){
        $('#fraud_yes').iCheck('disable')
        $('#fraud_no').iCheck('disable')
    })

    $(".ref").click(function () {
        var id = $(this).children(".id_tran").html()
        var tiene = $("#head" + id).hasClass("cerrado")

        if (tiene) {
            $("#head" + id).show()
//            $("#content_ref" + id).show()
            $("#head" + id).removeClass("cerrado")
//            $("#content_ref" + id).removeClass("cerrado")
            $("#head" + id).addClass("abierto")
            $(this).children(".show").html("")
            $(this).children(".show").append('<i class="fa fa-minus-square" aria-hidden="true"></i>')
//            $("#content_ref" + id).addClass("abierto")
        } else {
            $("#head" + id).hide()
//            $("#content_ref" + id).hide()
            $("#head" + id).removeClass("abierto")
//            $("#content_ref" + id).removeClass("abierto")
            $("#head" + id).addClass("cerrado")
            $(this).children(".show").html("")
            $(this).children(".show").append('<i class="fa fa-plus-square" aria-hidden="true"></i>')
//            $("#content_ref" + id).addClass("cerrado")
        }

    })

    $("#state_ob").change(function () {
        var valor = $(this).val()

        for (i = 0; i < gon.estados.length; i++) {
            if (gon.estados[i].IdEstado == valor) {
                var def = gon.estados[i].falso_positivo
                console.log('valor de def: ' + def)

                if (def == 0) {
                    $("#fraud_no").iCheck('check')
                    $("#fraud_yes").iCheck('uncheck')
                    $("#fraud_no").iCheck('disable')
                    $("#fraud_yes").iCheck('disable')
                } else if (def == 1) {
                    $("#fraud_no").iCheck('uncheck')
                    $("#fraud_yes").iCheck('check')
                    $("#fraud_no").iCheck('disable')
                    $("#fraud_yes").iCheck('disable')
                } else if (def == 2) {
                    $("#fraud_no").iCheck('uncheck')
                    $("#fraud_yes").iCheck('uncheck')
                    $("#fraud_no").iCheck('enable')
                    $("#fraud_yes").iCheck('enable')
                }
                break;
            }
        }
    })

    //    $(function () {
    //        $('.arrastra').draggable({
    //            scroll: false,
    //            handle: "h2",
    //            cursor: "crosshair"
    //        });
    //    });


    $('#tab input').on('ifChecked', function (event) {
        //SOY DE ALERTTRAN

        var lc = localStorage.getItem("Selected");
        var selected = $(this).val();
        var checked_alert = lc.split(',')

        var existe = jQuery.inArray(selected, checked_alert)

        if (existe == -1) {
            if (lc == "") {
                localStorage.setItem("Selected", lc + selected);
            } else {
                localStorage.setItem("Selected", lc + "," + selected);
            }
        }


        if (lc == "") {
            $('#apply_obse').prop('disabled', true)
            $('#apply_obse').iCheck('uncheck');
        } else {
            $('#apply_obse').prop('disabled', false)
            $('.icheckbox_square-green').removeClass("disabled")
        }

        $("#valor").val(localStorage.getItem("Selected"))
    });


    $('#tab input').on('ifUnchecked', function (event) {
// SOY DE ALERTTRAN
        var lc = localStorage.getItem("Selected");
        var selected = $(this).val();
        var checked_alert = lc.split(',')

        var existe = jQuery.inArray(selected, checked_alert)

        if (existe != -1) {
            checked_alert.splice(existe, 1)
            checked_alert = checked_alert.join(",");
            localStorage.setItem("Selected", checked_alert)
        }


        if (lc == "") {
            $('#apply_obse').prop('disabled', true)
            $('#apply_obse').iCheck('uncheck');
        } else {
            $('#apply_obse').prop('disabled', false)
            $('.icheckbox_square-green').removeClass("disabled")
        }

        $("#valor").val(localStorage.getItem("Selected"))

        var seleccionados = $("#tab input:checkbox:checked").map(function () {
            return $(this).val()
        }).get();

        if (seleccionados.length < 10) {
            $("#check_all").removeClass("sel")
            $("#check_all").addClass("unsel")
            $("#check_all").html('');
            $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
        } else {
            $("#check_all").removeClass("unsel")
            $("#check_all").addClass("sel")
            $("#check_all").html('');
            $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')
        }
    });

    $("#check_all").css("width", "155")

    $("#check_all").click(function () {
        var tiene = $(this).hasClass("unsel")

        if (tiene) {
            $(this).removeClass("unsel")
            $(this).addClass("sel")
            $(this).html('');
            $(this).append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')

            $("#tab input:checkbox").map(function () {
                $(this).iCheck('check')
            }).get();

        } else {
            $(this).removeClass("sel")
            $(this).addClass("unsel")
            $(this).html('');
            $(this).append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')

            $("#tab input:checkbox").map(function () {
                $(this).iCheck('uncheck')
            }).get();
        }
    })
    <% if @crearNewPer == 8 %>
    $(".xls_g").click(function () {
        var id = this.id;
        var idioma = $("#idioma").val()
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            url: "/alertn/alertPer?id=" + id + "&xls_g=true" + "&user_id=<%= current_user.id %>" + "&idioma=" + idioma,
            data: {"_method": "alertPer"},
        })

        toastr.options = {
            closeButton: true,
            progressBar: true,
            showMethod: 'slideDown',
            timeOut: 5000
        };
        toastr.success("<%= t('views.xls_a.message') %>", "<%= t('views.xls_a.message2') %>");
    })
    <% end %>
</script>
<style>
  .toast-success {
    background-color: #003057;
  }

  #toast-container > .toast-success:before {
    content: none;
  }

  <% if @camposref.length > 15 %>
  .ref-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .reference-table {
    display: inline;
    margin-right: 20px;
  }

  .ref-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: #003057;
    background-color: #CCCCCC;
  }

  .ref-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #F5F5F5;
  }

  .ref-wrapper::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
    #3472a4 0%,
    #3472a4 25%,
    transparent 100%,
    #3472a4 75%,
    transparent)
  }

  <% end %>

  .transactions{
    max-height: 40em;
    overflow-y: scroll;
  }
</style>