<%= javascript_include_tag 'jquery-ui.js' %>

<div class="ibox-content">
  <br>
  <div class="flot-chart">
    <div class="flot-chart-pie-content" id="flot-pie-chart-tran"></div>
  </div>
</div>


<script type="text/javascript">


    $(function () {
        <% if @leerNewTran == 2 || @leerConTran == 2 %>
        var data_tran = [{
            //label: "Alertas atendidas",
            //data: 1,
            data: <%= Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).where.not(:IdUsuario => "N/A").count %>,
            color: "#498fc8",
            <% if @leerNewTran == 2 %>
            url: window.location.href + '<%= alertn_alertTran_path %>'
            <% end %>
        }, {
            //label: "Alertas pendientes",
            //data: 100,
            data: <%= Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).where(:IdUsuario => "N/A").count %>,
            color: "#14568c",
            <% if @leerNewTran == 2 %>
            url: window.location.href + '<%= alertn_alertTran_path %>'
            <% end %>
        }];

        var plotObj = $.plot($("#flot-pie-chart-tran"), data_tran, {
            series: {
                pie: {
                    show: true
                }
            }

            ,
            grid: {
                hoverable: true,
                <% if @leerNewTran == 2 %>
                clickable: true
                <% end %>
            },
            tooltip: true,
            tooltipOpts: {
                content: "%p.0%", // show values
                shifts: {
                    x: 20,
                    y: 0
                },
                defaultTheme: false
            },
            legend: {
                useHTML: true,
                labelFormatter: function (label, series) {
                    return '<div style="text-align: left; width:150px;"><strong>' + label + '</strong></div><div style="width:40px; text-align:right;">Total: ' + series.data[0][1] + '</div>';
                }
            }
        });
        <% end %>

        $("#flot-pie-chart-tran").on("plotclick", function (event, pos, obj) {
            if (!obj) {
                return;
            }
            window.location.href = obj.series.url;
        });
    });


</script>