<%= stylesheet_link_tag "tx_sessions" %>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox-title" >
      <% if action_name == "new" %>
        <h2>New Session & Filter </h2>
      <% else %>
        <h2>Edit Session </h2>
      <% end %>
    </div>
    <div class="ibox">
      <div class="ibox-content">
        <%= form_for @tx_session, :html => {:class => 'wizard-big', :id => 'form'} do |f| %>
          <% if @tx_session.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(tx_session.errors.count, "error") %> prohibited this tx_session from being saved:</h2>

              <ul>
              <% tx_session.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <h1><i class="fa fa-user-circle"></i> Session</h1>

          <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
            <h3 class="text-center">Session Information</h3>

            <br>

            <%= f.hidden_field :Format_id, :value => 1 %>
            <%#= f.collection_select :format_id, Format.order(:id), :id, :description, {:include_blank => "Format . . ."}, {:class => "form-control", :required => true} %>
            <%= f.hidden_field :Lay_id, :value => 1 %>
            <%#= f.collection_select :lay_id, Lay.order(:id), :id, :description, {:include_blank => "Lay . . ."}, {:class => "form-control", :required => true} %>


            <div class="row">
              <div class="col-lg-12">

<!--                <div class="form-group col-lg-4 col-md-4">-->
                  <%#= f.label :key_id, t('views.porcentual_sessions_new.number_Order') %>
                  <%#= f.number_field :key_id, :class => "form-control", :value => @orden, :requiered => true, :id => 'orden_session' %>
<!--                  <input type="text" disabled value="<%#= @orden %>" class="form-control">-->
                  <%#= f.hidden_field :key_id, :class => "form-control", :value => @orden, :requiered => true, :id => 'orden_session' %>
<!--                  <span id="span_session" class="btn btn-danger btn-xs" style="display: none"></span>-->
<!--                </div>-->

                <div class="form-group col-lg-4 col-md-4">
                  <%= f.label :Lay_id, "Layout" %>
                  <select id="layout" class="form-control m-b-10 selectLay" name="selectLay">
                    <option value="">Select a Layout</option>
                    <% @Lay = Tlay.all%>
                    <% @Lay.each do |lays| %>
                      <option value="<%= lays.IdLay %>" name="optionLay"><%= lays.Descripcion %></option>
                    <% end %>
                    <%# @lays = Lay.all %>
                    <%# @lays.each do |lays| %>
                      <%# @formatos = Formato.where("lay_id = ?", lays.keyLayId).count %>
                      <%# if @formatos > 0 %>
<!--                        <option value="<%#= lays.keyLayId %>"><%#= lays.description %></option>-->
                      <%# end %>
                    <%# end %>
                  </select>
                  <%#= f.collection_select :lay_id, Lay.order("keyLayId"), :keyLayId, :description, {:prompt => 'Select a Layout...'}, {:class => 'form-control m-b-10', :required => true, :id => 'layout', :disabled => false} %>
                  <span id="span_session" class="btn btn-danger btn-xs" style="display: none"></span>
                </div>

                <div class="form-group col-lg-4 col-md-4">
                  <%= f.label :Format_id, "Formato"%>
                  <%#= f.collection_select :Format_id, Formato.order(:id), :id, :description, {:include_blank => t('views.porcentual_sessions_new.select_Format')}, {:class => "form-control", :required => true, :id => 'format', :disabled => true} %>
                  <select id="format" class="form-control m-b-10 selectFormat" disabled>
                    <option value="">Select a Format</option>
                  </select>
                </div>

                <div class="form-group col-lg-4 col-md-4">
                  <%= f.label :Description, "Description", for:'des_session' %>
                  <%= f.text_field :Description, id:'des_session',:class => "form-control", :required => true, :placeholder => 'Enter Description', :autocomplete => :off %>
                </div>
                <!--
                  <div class="back-change">
                    <div class="form-group col-lg-3 col-md-3">
                      <%#= f.label :sessionColor, "Session Color" %>
                      <%#= f.text_field :sessionColor, :class => "form-control", :required => true , :id => "text-field", :class => "form-control demo"%>
                      <%#= f.hidden_field :sessionColor, :class => "form-control", :required => true, :id => "hidden-input", :class => "form-control demo" %>
                    </div>
                  </div>
                  -->

<!--                <div class="form-group col-lg-3 col-md-3">-->
                  <%#= f.label :interval, t('views.porcentual_sessions_new.interval') %>
<!--                  <div class="row">-->
<!--                    <div class="col-md-8">-->
                      <%#= f.number_field :interval, :required => true, :class => 'form-control', :placeholder => "10 min", :min => 0 %>
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
                      <%#= f.label :interval, t('views.porcentual_sessions_new.min') %>
<!--                    </div>-->

<!--                  </div>-->
<!--                </div>-->
                <!--
                  <div class="form-group col-lg-4">
                    <%#= f.label :sessionType %>
                    <%#= f.number_field :sessionType, :class => "form-control", :required => true %>
                    <%#= f.collection_select :format_id, Format.order(:id), :id, :description, {:include_blank => "Format . . ."}, {:class => "form-control", :required => true} %>
                    <%#= f.select :sessionType, ['General Session','Main Filter'],{include_blank: "Select your Session Type ..."}, { :class => 'my_style_class' } %>
                    <%#= f.select(:sessionType, [['General', 4], ['Main Filter', 5]], {:include_blank => "Select Session Type . . ."}, {:class => 'form-control', :required => true}) %>
                  </div>
                  -->
              </div>

            </div>
          </fieldset>

          <% if @edt == false %>
            <h1><i class="fa fa-filter"></i> Filter</h1>
            <fieldset class="responsive-fieldset" style="float: none; position: inherit;">
              <h3 class="text-center">Filter Information</h3>
              <br>
              <div class="row">
                <!--
                <div class="form-group col-lg-2">
                  <label>Filter Number</label>
                  <input type="text" autocomplete="off" required disabled class="form-control" value="<%#= @or_fil %>">
                  <%#= f.hidden_field :numberFilter, :value => @or_fil %>
                </div>
                -->
                <div class="form-group col-lg-6">
                  <%= f.label :Description, "Description Filter", for:'des_filter' %>
                  <input type="text" id="des_filter" class="form-control" placeholder="Enter Description Filter" autocomplete="off" required name="filter_description" required>
                </div>
                <div class="col-md-3 col-lg-3">
                  <div class="form-group">
<!--                      <%#= f.label :orderNumber, t('views.porcentual_sessions_new.main_Filter') , :class => "control-label" %><br>-->
<!--                      <input type="checkbox" class="js-switch" value="1" id="mainF" name="filter_order"/>-->
                    <label>Filter Type</label>
                    <select id="typeFilter" class="form-control filterSession">
                      <option value="">Select Filter</option>
                      <option value="1">Main</option>
                      <option value="General">General</option>
                      <option value="Group">Group</option>
                    </select>
                  </div>
                </div>


                <div class="back-change">
                  <div class="form-group col-lg-3 col-md-3 colorPicker" style="display: none">
                    <%= f.label :backgroundColor, t('views.porcentual_sessions_new.filter_Color') , :id => "colorlabel" %>
<!--                      <input type="text" class="form-control demo" required id="text-field" name="backgroundColor" autocomplete="off">-->
                    <input type="text" class="form-control demo" name="backgroundColor" autocomplete="off" />
                    <%#= f.text_field :backgroundColor, :class => "form-control", :required => true , :id => "text-field", :class => "form-control demo"%>
                    <%#= f.hidden_field :backgroundColor, :class => "form-control", :required => true, :id => "hidden-input", :class => "form-control demo" %>
                    </select>
                  </div>
                  <div class="form-group col-lg-3 col-md-3 choseSelect" style="display: none">
                    <label>Group By</label>
                    <br>
                    <select data-placeholder="Select one or more elements" class="chosen-select" multiple style="width: 350px" tabindex="4" name="group_filter" id="group_sel">
                    </select>
                  </div>
                </div>

                <!--
                <div class="form-group col-lg-3">
                  <%#= f.label :group_id, 'Group' %>
                  <input type="number" class="form-control" placeholder="Group . . . " autocomplete="off" required name="group_id">
                </div>
                <div class="form-group col-lg-2">
                  <%#= f.label :corporateFilter, 'Corporate Filter' %>
                  <div class="form-group">
                    <input type="checkbox" class="js-switch_3" name="corporateFilter">
                  </div>
                </div>
                -->
              </div>
            </fieldset>

            <h1><i class="fa fa-filter"></i> Filter Detail</h1>
            <fieldset class="responsive-fieldset filterDetail" style="float: none; position: inherit;">
              <h3 class="text-center">Filter Detail</h3>
              <br>
              <br>
              <div class="row col-lg-4" style="border-right: 2px solid #d6d6d6;">
                <!--######## EN ESTE DIV SE ENCUENTRAN CAMPOS-OPERADORES-VALUE-BEWTWEEN-IN ######### -->
                <div class="form-group col-lg-6">
                  <label>Feild</label>
                  <select name="" id="selectFeild" class="form-control selectFeild">
                    <option value="">Select Field</option>
                  </select>
                </div>

                <!--####### SELECT OPERATORS -->
                <div class="form-group col-lg-6">
                  <label>Operators</label>
                  <select name="" id="operator_sel" class="form-control operator_sel">
                    <option value="">Select Operator</option>
                    <option value="0"> = </option>
                    <option value="1"> <> </option>
                    <option value="2"> > </option>
                    <option value="3"> >= </option>
                    <option value="4"> < </option>
                    <option value="5"> <= </option>
                    <option value="6"> Like </option>
                    <option value="7"> In </option>
                    <option value="7"> Not In </option>
                    <option value="8"> Between </option>
                    <option value="8"> Not Between </option>
                  </select>
                </div>

                <!--####### SELECT CONECTORES -->
                <div class="form-group col-lg-12">
                  <label>Connectors</label>
                  <select name="" id="selectConnector" class="form-control" disabled="true">
                    <option value="">Select Connector</option>
                    <option value="0">OR</option>
                    <option value="1">AND</option>
                  </select>
                </div>

                <!--####### INPUT VALOR -->
                <div class="oneValue form-group col-lg-12">
                  <label for="valor">Value</label>
                  <input type="text" id="valor" class="form-control" autocomplete="off" placeholder="Enter you value...">
                </div>

                <!--####### INPUTS BETWEEN / NOT BETWEEN -->
                <div class="betweenValue form-group col-lg-12" style="display: none">
                  <!--                    <label style="display: block">Between Or Not Between</label>-->
                  <input type="text" id="valOneBetween" class="form-control valOneBetween" autocomplete="off" placeholder="Enter you value..." style="width: 47.5%; margin: 0; display: inline-block;">
                  -
                  <input type="text" id="valTwoBetween" class="form-control valTwoBetween" autocomplete="off" placeholder="Enter you value..." style="width: 47.5%; margin: 0; display: inline-block;">
                </div>

                <!--####### SELECTS IN / NOT - AGREGAR LISTA -->
                <div class="inValue form-group col-lg-12" style="display: none">
                  <div class="anchoSelect inNot">
                    <!--                      <label style="display: block">In Or Not</label>-->
                    <select name="" id="selectList" class="form-control">
                      <option value="">Select List</option>
                      <option value="">Tarj_Vip</option>
                      <option value="">Tarj_Master</option>
                      <option value="">Tarj_Visa</option>
                      <option value="">Linea_Blanca</option>
                      <option value="">Master</option>
                      <option value="">Amex</option>
                    </select>
                  </div>

                  <!--                    <div class="anchoSelect">-->
                  <!--                      <label>Connector List</label>-->
                  <!--                      <select name="" id="" class="form-control">-->
                  <!--                        <option value=""> Select Connector List </option>-->
                  <!--                        <option value="1"> AND </option>-->
                  <!--                        <option value="0"> OR </option>-->
                  <!--                      </select>-->
                  <!--                    </div>-->

                  <div class="anchoSelect">
                    <label>Add List</label>
                    <br>
                    <%= f.file_field :attachment, id:'realBtnFile', class:'realBtnFile', style:'display: none'%>
                    <div class="upFiles">
                      <span class="btn btn-xs btn-primary falseBtnFile"><i class="fa fa-upload"></i></span>
                      <span id="customText" class="customText"> No se eligió archivo</span>
                    </div>
                    <!--                      <button class="btn btn-success btn-xs"><i class="fa fa-upload"></i></button>-->
                  </div>

                </div>

                <!--####### CHECKBOX DENIED -->
                <div class="col-lg-6 altura contDenied">
                  <label>Denied</label>
                  <br>
                  <input type="checkbox" id="denied" class="i-checks" value="0" name="denied">
                </div>

                <!--####### AGREGAR CONDICION-->
                <div class="col-lg-6 altura">
                  <div>
                    <label>Add Condition</label>
                    <br>
                    <span class="btn btn-success btn-xs addConditions"><i class="fa fa-plus"></i></span>
                  </div>
                </div>

                <!--####### AGREGAR Bloque de parenthesis-->
                <div class="col-lg-12" style="border-top: 2px solid #d6d6d6;  margin-top: 3em;">
                  <br>
                  <label>Add Parenthesis Block</label>
                  <select name="" id="selectParentesis" class="form-control selectParentesis">
                    <option value="">Select Parenthesis</option>
                    <option name="AND" value="1">AND(</option>
                    <option name="OR" value="0">OR(</option>
                    <option name="" value="-1">(</option>
                    <option name="AND" value="1">NOT AND(</option>
                    <option name="OR" value="0">NOT OR(</option>
                    <option name="" value="-1">NOT(</option>
                  </select>
                </div>

              </div>

              <div class="row col-lg-6" style="margin-left: 2em;">
                <!--######## Div donde se agregaran las condiciones ######### -->
                <div class="col-lg-12 col-md-12">
                  <%#= render partial: 'condition' %>
                  <div class="s_Condition">
                    <table class="table table-hover table-striped table-responsive" style="margin: 0">
                      <thead>
                      <tr>
                        <th class="text-center">Denied</th>
                        <th class="text-center">Conector</th>
                        <th class="text-center">Expression</th>
                        <th data-hide="phone, table" class="text-center">Delete</th>
                      </tr>
                      </thead>
                      <tbody id="drag-elements" class="tBodyCondition">
                      <!-- Aquí se agregaran de forma dinamica las condiciones -->
                      </tbody>
                    </table>
                  </div>
                </div>

                <!--########  ######### -->

<!--                <div class="col-lg-10">-->
<!--                  <label>Filter</label>-->
<!--                  <div class="container">-->
<!--                    <!-- Aqui se arrastran la condiciones -->
<!--                    <table class="table table-hover table-striped table-responsive table-filter" style="margin: 0">-->
<!--                      <thead class="thead-no-move">-->
<!--                        <tr>-->
<!--                          <th class="text-center">Filtro</th>-->
<!--                          <th data-hide="phone, table" class="text-center">Delete</th>-->
<!--                        </tr>-->
<!--                      </thead>-->
<!--                      <tbody class="text-center drop-target">-->
<!--                      <!-- Aquí se agregaran de forma dinamica las condiciones -->
<!--                        <tr><td class="tdDispNone filterCondi">-1</td></tr>-->
<!--                        <tr class="trInicial">-->
<!--                          <td colspan="3">Arrastra aqui</td>-->
<!--                        </tr>-->
<!--                      </tbody>-->
<!--                    </table>-->
<!--                  </div>-->
<!--                  <br>-->
<!--                  <br>-->
<!--                </div>-->
<!--                <div class="col-lg-2 contFilters" style="padding-left: 4em;">-->
<!--                  <!-- Aqui se guardan los filtros -->
<!--                  <label>Saved Filter</label>-->
<!--                  <div class="btn btn-primary btn-width">-->
<!--                    <span>Filtro Tarj_Vip</span>-->
<!--                  </div>-->
<!--                  <div class="btn btn-primary btn-width">-->
<!--                    <span>Tarj_Master</span>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="col-xs-12" style="padding: 0">
                  <div class="form-group col-lg-5">
                    <label>Name Filter</label>
                    <input type="text" class="form-control nameFilter" placeholder="Name Filter...">
                  </div>
                  <div class="form-group col-lg-5">
                    <label>Alias Filter</label>
                    <input type="text" class="form-control aliasFilter" placeholder="Alias Filter...">
                  </div>
                  <div class="form-group col-lg-2" style="height: 59px; line-height: 1.9">
                    <label>Save Filter</label>
                    <br>
                    <span class="btn btn-primary btn-xs saveFilter"><i class="fa fa-floppy-o"></i> Save </span>
                  </div>
                </div>
              </div>
              <br>
              <br>
            </fieldset>

          <% end %>

<!--          <div class="field">-->
            <%#= f.label :Lay_id %>
            <%#= f.number_field :Lay_id %>
<!--          </div>-->

<!--          <div class="field">-->
            <%#= f.label :Format_id %>
            <%#= f.number_field :Format_id %>
<!--          </div>-->

<!--          <div class="field">-->
            <%#= f.label :Description %>
            <%#= f.text_field :Description %>
<!--          </div>-->

<!--          <div class="field">-->
            <%#= f.label :Sessioncolor %>
            <%#= f.number_field :Sessioncolor %>
<!--          </div>-->

<!--          <div class="field">-->
            <%#= f.label :Interval %>
            <%#= f.number_field :Interval %>
<!--          </div>-->

<!--          <div class="field">-->
            <%#= f.label :Inactive %>
            <%#= f.text_field :Inactive %>
<!--          </div>-->

<!--          <div class="actions">-->
            <%#= f.submit %>
<!--          </div>-->
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

  let edit = <%= @edt %>;
  let sumac = 1;

  $("#form").steps({
      bodyTag: "fieldset",
      onStepChanging: function (event, currentIndex, newIndex) {
          // Always allow going backward even if the current step contains invalid fields!
          if (currentIndex > newIndex) {
              return true;
          }
          var form = $(this);
          // Clean up if user went backward before
          if (currentIndex < newIndex) {
              // To remove error styles
              $(".body:eq(" + newIndex + ") label.error", form).remove();
              $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
          }
          form.validate().settings.ignore = ":disabled,:hidden";
          return form.valid();
      },
      onStepChanged: function (event, currentIndex, priorIndex) {
          // Suppress (skip) "Warning" step if the user is old enough.
          if (currentIndex === 2 && Number($("#age").val()) >= 18) {
              $(this).steps("next");
          }

          // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
          if (currentIndex === 2 && priorIndex === 3) {
              $(this).steps("previous");
          }
      },
      onFinishing: function (event, currentIndex) {
          var form = $(this);
          // Disable validation on fields that are disabled.
          // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
          form.validate().settings.ignore = ":disabled";
          // Start validation; Prevent form submission if false
          return form.valid();
      },
      onFinished: function (event, currentIndex) {
          // if (sumac > 0 || edit == true) {

              var form = $(this);
              form.submit();
          // }
          // else {
          //     swal({
          //         title: "Error!",
          //         text: "Save at least one condition!",
          //         type: "error"
          //     });
          // }
      },
      onCanceled: function (event, currentIndex) {
          window.location.href = "/tx_sessions"
      }
  });
</script>