<p id="notice"><%= notice %></p>

<div class="row ">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1>Sessions</h1>
        <div class="ibox-content">
          <table class="table text-center table-striped table-condensed toggle-circle-filled tile" data-page-size="8" data-filter=#filter>
            <thead>
              <tr>
                <th class="text-center" >#</th>
                <th class="text-center" >Description</th>
                <th class="text-center" >Count Filters</th>
                <th class="text-center" >New Session Filter</th>
                <th class="text-center" >Inactive</th>
                <th class="text-center" data-hide="phone, table" class="text-center"><%= t('all.edit') %></th>
                <th class="text-center" data-hide="phone, table" class="text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody>
            <% order = 0 %>
              <% @tx_sessions.each do |tx_session| %>
                <% order+=1 %>
                <tr>
                  <td><%= order %></td>
                  <td><%= tx_session.Description %></td>
                  <td><a href="#" class="btn btn-success btn-xs">2</a> </td>
                  <td>
                    <button class="btn btn-success btn-xs  filter" type="button" title="New filter">
                      <i class="fa fa-filter "></i>
                    </button>
                  </td>
                  <td>
                    <% if tx_session.Inactive == "1" %>
                      <% check = "checked" %>
                    <% else %>
                      <% check = "" %>
                    <% end %>

                    <div class="checkbox">
                      <input class="inactive" id=<%= tx_session.Id %> type="checkbox" <%= check %>>
                      <label for="checkbox1">
                      </label>
                    </div>
                  </td>
<!--                  <td><%#= link_to '<button class="btn btn-success btn-xs " type="button"><i class="fa fa-file"></i></button>'.html_safe, tx_session %></td>-->
                  <td><%= link_to '<button class="btn btn-warning btn-xs " type="button"><i class="fa fa-pencil"></i></button>'.html_safe, edit_tx_sessions_path(tx_session) %></td>
<!--                  <td><%#= link_to '<button class="btn btn-danger btn-xs " type="button"><i class="fa fa-trash-o"></i></button>'.html_safe, tx_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
                  <td><button class="btn btn-danger btn-xs eliminarSesion" type="button" id="<%= tx_session.Id %>"><i class="fa fa-trash-o"></i></button></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <%= link_to '<button class="btn btn-primary btn-xs" type="button" title="New Session"><i class="fa fa-line-chart"></i> New</button>'.html_safe, new_tx_sessions_path %>
        </div>
      </div>
    </div>
  </div>
</div>