<p id="notice"><%= notice %></p>

<p>
  <strong>Lay:</strong>
  <%= @tx_session.Lay_id %>
</p>

<p>
  <strong>Formato:</strong>
  <%= @tx_session.Format_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tx_session.Description %>
</p>

<p>
  <strong>Sessioncolor:</strong>
  <%= @tx_session.Sessioncolor %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @tx_session.Interval %>
</p>

<p>
  <strong>Inactive:</strong>
  <%= @tx_session.Inactive %>
</p>

<%= link_to 'Edit', edit_tx_sessions_path(@tx_session) %> |
<%= link_to 'Back', tx_sessions_index_path %>
