<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Excel generated</title>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      font-family: "Avenir Medium", "avenir", "Avenir", Avenir, "Avenir Black", "Avenir Heavy", "Avenir Roman";
      box-sizing: border-box;
      font-size: 14px
    }

    img {
      max-width: 100%
    }

    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      height: 100%;
      line-height: 1.6
    }

    table td {
      vertical-align: top
    }

    body {
      background-color: #f6f6f6
    }

    .body-wrap {
      background-color: #f6f6f6;
      width: 100%
    }

    .container {
      display: block !important;
      max-width: 1000px !important;
      margin: 0 auto !important;
      clear: both !important
    }

    .content {
      max-width: 1000px;
      margin: 0 auto;
      display: block;
      padding: 20px
    }

    .main {
      background: #fff;
      border: 1px solid #e9e9e9;
      border-radius: 3px
    }

    .content-wrap {
      padding: 10px 20px 0 20px
    }

    .content-block {
      padding: 0 0 20px
    }

    .header {
      width: 100%;
      margin-bottom: 20px
    }

    .footer {
      width: 100%;
      clear: both;
      color: #999;
      padding: 20px
    }

    .footer a {
      color: #999
    }

    .footer a, .footer p, .footer td, .footer unsubscribe {
      font-size: 12px
    }

    h1, h2, h3 {
      font-family: "Avenir Medium", "avenir", "Avenir", Avenir, "Avenir Black", "Avenir Heavy", "Avenir Roman";
      color: #000;
      margin: 40px 0 0;
      line-height: 1.2;
      font-weight: 400
    }

    h1 {
      font-size: 32px;
      font-weight: 500
    }

    h2 {
      font-size: 24px
    }

    h3 {
      font-size: 18px
    }

    h4 {
      font-size: 14px;
      font-weight: 600
    }

    ol, p, ul {
      margin-bottom: 10px;
      font-weight: 400
    }

    ol li, p li, ul li {
      margin-left: 5px;
      list-style-position: inside
    }

    a {
      color: #003057;
      text-decoration: underline
    }

    .btn-primary {
      text-decoration: none;
      color: #FFF;
      background-color: #003057;
      border: solid #003057;
      border-width: 5px 10px;
      line-height: 2;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      border-radius: 5px;
      text-transform: capitalize
    }

    .last {
      margin-bottom: 0
    }

    .first {
      margin-top: 0
    }

    .aligncenter {
      text-align: center
    }

    .alignright {
      text-align: right
    }

    .alignleft {
      text-align: left
    }

    .clear {
      clear: both
    }

    .alert {
      font-size: 16px;
      color: #fff;
      font-weight: 500;
      padding: 20px;
      text-align: center;
      border-radius: 3px 3px 0 0
    }

    .alert a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px
    }

    .alert.alert-warning {
      background: #f8ac59
    }

    .alert.alert-bad {
      background: #ed5565
    }

    .alert.alert-good {
      background: #003057
    }

    .invoice {
      margin: 40px auto;
      text-align: left;
      width: 80%
    }

    .invoice td {
      padding: 5px 0
    }

    .invoice .invoice-items {
      width: 100%
    }

    .invoice .invoice-items td {
      border-top: #eee 1px solid
    }

    .invoice .invoice-items .total td {
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      font-weight: 700
    }

    @media only screen and (max-width: 640px) {
      h1, h2, h3, h4 {
        font-weight: 600 !important;
        margin: 20px 0 5px !important
      }

      h1 {
        font-size: 22px !important
      }

      h2 {
        font-size: 18px !important
      }

      h3 {
        font-size: 16px !important
      }

      .container {
        width: 100% !important
      }

      .content, .content-wrap {
        padding: 10px !important
      }

      .invoice {
        width: 100% !important
      }
    }
  </style>
</head>

<body>

<table class="body-wrap">
  <tr>
    <td class="container" width="1000">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">

          <tr>
            <td class="alert alert-good">
              <strong><%= t('views.new_alert_tran.work') %></strong>
            </td>
          </tr>

          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <strong><%= t('all.group') %>:</strong> <%= @name_group %>
                    <br>
                    <strong><%= t('all.mails') %>:</strong> <%= @destinatariosMails %>
                    <br>
                    <strong><%= t('all.date') %>:</strong> <%= @fecha %>
                    <br>
                    <strong><%= t('all.hour') %>:</strong> <%= @tiempo %>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <strong><%= t('config.main') %>:</strong> <%= @idTran %>
                    <br>
                    <strong><%= t('views.new_alert_tran.obse') %>:</strong> <%= @obse %>
                    <br>
                    <strong><%= t('views.new_alert_tran.state') %>: </strong> <%= @state_name %>
                    <br>
                    <strong><%= t('views.niv_alert_index.fraud') %>: </strong> <%= @fraud %>
                    <br>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <h4><%= t('views.groups_form.detail') %>:</h4>
                </tr>
                <br>
                <tr>
                  <% @detail.each do |d| %>
                    <th class="text-center">
                      <%= d[0] %>
                    </th>
                  <% end %>
                </tr>
                <tr>
                  <% @detail.each do |d| %>
                    <td align="center" data-toggle="tooltip" data-placement="bottom" align="center">
                      <%= d[1] %>
                    </td>
                  <% end %>
                </tr>
              </table>
            </td>
          </tr>

          <br>

          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">

                <tr>
                  <h4><%= t('views.groups_form.ref') %>:</h4>
                </tr>
                <br>
                <tr>
                  <% @reference.each do |r| %>
                    <th class="text-center">
                      <%= r[0] %>
                    </th>
                  <% end %>
                </tr>
                <tr>
                  <% @reference.each do |r| %>
                    <td align="center" data-toggle="tooltip" data-placement="bottom" align="center">
                      <%= r[1] %>
                    </td>
                  <% end %>
                </tr>
              </table>
            </td>
          </tr>

          <br>

          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <h4><%= t('views.groups_form.observaciones') %>:</h4>
                </tr>
                <br>
                <tr>
                  <% @area.each do |a| %>
                    <th class="text-center">
                      <%= a[0] %>
                    </th>
                  <% end %>
                </tr>
                <tr>
                  <% @area.each do |a| %>
                    <td align="center" data-toggle="tooltip" data-placement="bottom" align="center">
                      <%= a[1] %>
                    </td>
                  <% end %>
                </tr>
              </table>
            </td>
          </tr>

          <br>

          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <h4><%= t('views.groups_form.hist_alert') %>:</h4>
                </tr>
                <br>
                <tr>
                  <% @hist_alert.each do |ha| %>
                    <th class="text-center">
                      <%= ha[0] %>
                    </th>
                  <% end %>
                </tr>
                <tr>
                  <% @hist_alert.each do |ha| %>
                    <td align="center" data-toggle="tooltip" data-placement="bottom" align="center">
                      <%= ha[1] %>
                    </td>
                  <% end %>
                </tr>
              </table>
            </td>
          </tr>

          <br>

          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <h4><%= t('views.groups_form.hist_trans') %>:</h4>
                </tr>
                <br>
                <tr>
                  <% @hist_trans.each do |ht| %>
                    <th class="text-center">
                      <%= ht[0] %>
                    </th>
                  <% end %>
                </tr>
                <tr>
                  <% @hist_trans.each do |ht| %>
                    <td align="center" data-toggle="tooltip" data-placement="bottom" align="center">
                      <%= ht[1] %>
                    </td>
                  <% end %>
                </tr>
              </table>
            </td>
          </tr>

          <br>

          <tr>
            <td class="alert alert-good">
              <small style="color: white;">©Powered by KS Soluciones S.A. de C.V. 1998-<%= Time.now.year %></small>
            </td>
          </tr>

        </table>
      </div>
    </td>
  </tr>
</table>
</body>

</html>




