/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self

 *= require animate/animate.css
 *= require style
 *= require font-awesome
 *= require smartadmin-production-plugins
 */
/* Forms */
//= require iCheck/custom.css
//= require steps/jquery.steps.css
//= require summernote/summernote-bs3.css
//= require summernote/summernote.css
//= require dropzone/basic.css
//= require dropzone/dropzone.css
//= require colorpicker/css/bootstrap-colorpicker.min.css
//= require cropper/cropper.min.css
//= require datapicker/datepicker3.css
//= require ionRangeSlider/ion.rangeSlider.css
//= require ionRangeSlider/ion.rangeSlider.skinFlat.css
//= require jasny/jasny-bootstrap.min.css
//= require jquery.minicolors
//= require nouslider/jquery.nouislider.css
//= require switchery/switchery.css
//= require chosen/chosen.css
//= require daterangepicker/daterangepicker-bs3.css
//= require clockpicker/clockpicker.css
//= require awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css
/* Dashbord */
//= require toastr/toastr.min.css
//= require jvectormap/jquery-jvectormap-2.0.2.css
//= require morris/morris-0.4.3.min.css
//= require chartist/chartist.min.css
/*Dragula*/
//= require dragula/dragula.min.css
/* Miscellaneous */
//= require toastr/toastr.min.css
//= require codemirror/ambiance.css
//= require codemirror/codemirror.css
//= require jsTree/style.min.css
//= require sweetalert/sweetalert.css
/* Tables */
//= require footable/footable.core.css
//= require footable/footable.core
//= require dataTables/dataTables.responsive
//= require dataTables/dataTables.tableTools.min.css
//@import 'bootstrap-sprockets';
@import 'bootstrap';
//@import url("//fonts.googleapis.com/css?family=Avenir:300,400,600,700&lang=en");
//

//@import 'bootstrap-datetimepicker';


.arrastra {
  padding: 0.5em;
}

.flexbox {
  display: flex;
}

.width {
  width: 100% !important;
}

.relative {
  position: relative;
}

.mar {
  margin-top: 180px;
}

.navy-bg-tam{
  background-color: #003057;
  color: #ffffff;
}

.fixedcount {
  background-color: white;
  position: fixed;
  top: 0;
  right: 15px;
  left: 236px;
  z-index: 11;
}

.fixed {
  background-color: white;
  position: fixed;
  padding: .5em;
  top: 138px;
  right: 15px;
  left: 236px;
  z-index: 11;
}

.fixed2 {
  position: fixed;
  top: 191px;
  right: 33px;
  left: 255px;
  z-index: 11;
  box-shadow: 0px 2px 13px 0px #e7eaec;
}

.stickyRows{
  position: sticky;
  top: -1.12em;
  background-color: white;
  z-index: 10;
}

.stickyTableSearch tr td, tr th {
  position: sticky;
  position: -webkit-sticky;
  z-index: 10;
  transition: all .5s ease;
}

.stickyTableSearch {

  tr.fltrow{

    td{
      top: 1.4em;
    }
  }

  tr#totalr {

    th {
      background-color: white;
      top: 4.9em;
    }
  }
}

.contentMailGroups{
  display: block;
}

.displayNone{
  display: none;
}