<% if current_user.profile.present? %>
  <% @permisos = current_user.profile.permissions %>
  <% arreglo = Array.new %>
  <% @permisos.each do |per| %>
    <% id = per.id %>
    <% valor = {name: '', crear: 0, editar: 0, leer: 0, eliminar: 0} %>
    <% valor[:name] = per.view_name %>
    <% if per.crear.nil? %>
      <% valor[:crear] = 0 %>
    <% else %>
      <% valor[:crear] = per.crear %>
    <% end %>

    <% if per.editar.nil? %>
      <% valor[:editar] = 0 %>
    <% else %>
      <% valor[:editar] = per.editar %>
    <% end %>

    <% if per.leer.nil? %>
      <% valor[:leer] = 0 %>
    <% else %>
      <% valor[:leer] = per.leer %>
    <% end %>

    <% if per.eliminar.nil? %>
      <% valor[:eliminar] = 0 %>
    <% else %>
      <% valor[:eliminar] = per.eliminar %>
    <% end %>

    <% arreglo.push(valor) %>
  <% end %>
  <!--Si el usuario esta deshabilitado solo se le muestra en el navigation la vista Home-->

  <% if User.count >= 1 %>
    <% if current_user.habilitado == 1 %>
      <nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <div class="dropdown profile-element">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                              <h3>
                                <strong class="font-bold"><%= current_user.name %> <%= current_user.last_name %>  </strong><br>
                                 <input type="hidden" id="currentUserId" value="<%= current_user.id %>">
                              </h3>

                              <%# if (current_user.nameProfile_id == 1) || (current_user.nameProfile_id > 1) %>

                            </span>
                          <span class="text-muted text-xs block cerrado" id="abre">Menu <b class="caret"></b></span>
                        </span>
                </a>

                <ul class="dropdown-menu animated fadeInRight m-t-xs" id="menu">
                  <!--<li>-->
                  <!--<a href="#"><%#= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe + t('all.edit'), edit_user_registration_path %></a>-->
                  <!--</li>-->
                  <li>
                    <a href="#"><%= link_to '<i class="fa fa-sign-out"></i>'.html_safe + t('all.logout'), destroy_user_session_path, :method => :delete %></a>
                  </li>
                </ul>
              </div>
              <div class="logo-element">
                KS
              </div>
            </li>
            <li class="<%= 'active' if current_page?('/') %>">
              <%= link_to "/" do %>
                <i class="fa fa-home"></i> <span class="nav-label"><%= t('all.home') %></span>
              <% end %>
            </li>
          </ul>
          </li>
        </div>
      </nav>
      <!--Si el usuario esta habilitado se le muestran todas las vistas en el navigation-->
    <% else %>
      <nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <div class="dropdown profile-element">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                              <h3>
                                <strong class="font-bold"><%= current_user.name %> <%= current_user.last_name %>  </strong><br>
                                <input type="hidden" id="currentUserId" value="<%= current_user.id %>">
                              </h3>

                              <%# if (current_user.nameProfile_id == 1) || (current_user.nameProfile_id > 1) %>

                            </span>
                          <span class="text-muted text-xs block cerrado" id="abre">Menu <b class="caret"></b></span>
                        </span>
                </a>

                <ul class="dropdown-menu animated fadeInRight m-t-xs" id="menu">
                  <!--<li>-->
                  <!--<a href="#"><%#= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe + t('all.edit'), edit_user_registration_path %></a>-->
                  <!--</li>-->

                  <li>
                    <a href="#"><%= link_to '<i class="fa fa-sign-out"></i>'.html_safe + t('all.logout'), destroy_user_session_path, :method => :delete %></a>
                  </li>
                </ul>
              </div>
              <div class="logo-element">
                KS
              </div>
            </li>


            <!--<li class="<%#= 'active' if current_page?('/') %>">-->
            <!--<%#= link_to "/" do %>-->
            <!--<i class="fa fa-home"></i> <span class="nav-label"><%#= t('all.home') %></span>-->
            <!--<%# end %>-->

            <!--</li>-->


            <% if arreglo[0][:leer] == 2 || arreglo[1][:crear] == 8 || arreglo[1][:leer] == 2 %>
              <li class="<%= is_active_controller('home') %> <%= is_active_controller('niv_alertamiento') %>">
                <a href=""><i class="fa fa-tachometer"></i><span class="nav-level">Dashboard</span>
                  <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level <%= is_active_controller('home') %>">

                  <li class="<%= 'active' if current_page?('/') %>">
                    <%= link_to "/" do %>
                      <i class="fa fa-home"></i> <span class="nav-label"><%= t('all.home') %></span>
                    <% end %>
                  </li>

                  <li class="<%= is_active_controller('niv-alertamiento') %>">
                    <%= link_to '<i class="fa fa-line-chart"></i>'.html_safe + t('all.level'), niv_alertamiento_index_path %>
                  </li>

                  <li class="<%= is_active_controller('graphics') %>">
                    <%= link_to '<i class="fa fa-line-chart"></i>'.html_safe + t('all.graphs'), chart_index_path  %>
                  </li>
                </ul>
              </li>
            <% end %>

            <% if arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 || arreglo[4][:crear] == 8 || arreglo[4][:leer] == 2 || arreglo[5][:crear] == 8 || arreglo[5][:leer] == 2 || arreglo[6][:editar] == 4 || arreglo[6][:leer] == 2 %>
              <li class="<%= is_active_controller('alertn') %> <%= is_active_controller('alertc') %>">
                <a href=""><i class="fa fa-bell"></i><span class="nav-level"><%= t('all.alerts') %></span>
                  <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level <%= is_active_controller('alertn') %>">
                  <% if arreglo[2][:crear] == 8 || arreglo[2][:editar] == 4 || arreglo[2][:leer] == 2 || arreglo[3][:crear] == 8 || arreglo[3][:editar] == 4 || arreglo[3][:leer] == 2 %>
                    <li class="<%= 'active' if is_active_controller('alertn') %>">
                      <%= link_to '<i class="fa fa-plus-square"></i>'.html_safe + t('all.new_a'), alertn_index_path %>
                    </li>
                  <% end %>
                  <% if arreglo[4][:crear] == 8 || arreglo[4][:leer] == 2 || arreglo[5][:crear] == 8 || arreglo[5][:leer] == 2 %>
                    <li class="<%= is_active_controller('alertc') %>">
                      <%= link_to '<i class="fa fa-search"></i>'.html_safe + t('all.consul_a'), alertc_index_path %>
                    </li>
                  <% end %>
                  <% if arreglo[6][:editar] == 4 || arreglo[6][:leer] == 2 %>
                    <li class="<%= is_active_controller('alertc') %>">
                      <%= link_to '<i class="fa fa-unlock"></i>'.html_safe + t('all.release_a'), alert_release_index_path %>
                    </li>
                  <% end %>

                </ul>
              </li>
            <% end %>

            <% if arreglo[7][:crear] == 8 || arreglo[7][:leer] == 2 %>
              <li class="<%= 'active' if current_page?('/con_gen') %> <%= 'active' if current_page?('/transacction_type') %>">
                <a href=""> <i class="fa fa-search"></i><span class="nav-level">Busquedas</span>
                  <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level <%= is_active_controller('alertn') %>">

                    <li class="<%= 'active' if current_page?('/con_gen') %>">
                      <%= link_to "/con_gen/index" do %>
                        <i class="fa fa-search"></i><span class="nav-label"><%= t('all.consul_g') %></span>
                      <% end %>
                      <!--<%#= link_to '<i class="fa fa-search"></i>'.html_safe + t('all.consul_g'), con_gen_index_path %>-->
                    </li>

                    <li class="<%= 'active' if current_page?('/transacction_type') %>">
                      <%= link_to "/transacction_type/index" do %>
                        <i class="fa fa-search"></i><span class="nav-label">Búsqueda Transaccional</span>
                      <% end %>
                      <!--<%#= link_to '<i class="fa fa-search"></i>'.html_safe + t('all.consul_g'), con_gen_index_path %>-->
                    </li>
                </ul>
              </li>
            <% end %>



            <% if arreglo[8][:crear] == 8 || arreglo[8][:editar] == 4 || arreglo[8][:leer] == 2 || arreglo[8][:eliminar] == 1 || arreglo[9][:crear] == 8 || arreglo[9][:editar] == 4 || arreglo[9][:leer] == 2 || arreglo[9][:eliminar] == 1 || arreglo[10][:crear] == 8 || arreglo[10][:editar] == 4 || arreglo[10][:leer] == 2 || arreglo[10][:eliminar] == 1 || arreglo[11][:crear] == 8 || arreglo[11][:editar] == 4 || arreglo[11][:leer] == 2 || arreglo[11][:eliminar] == 1 || arreglo[12][:crear] == 8 || arreglo[12][:editar] == 4 || arreglo[12][:leer] == 2 || arreglo[12][:eliminar] == 1 || arreglo[13][:crear] == 8 || arreglo[13][:editar] == 4 || arreglo[13][:leer] == 2 || arreglo[13][:eliminar] == 1 || arreglo[14][:crear] == 8 || arreglo[14][:editar] == 4 || arreglo[14][:leer] == 2 || arreglo[14][:eliminar] == 1 %>
              <li class="<%= is_active_controller('users') %> <%= is_active_controller('profiles') %>">
                <a href=""><i class="fa fa-cogs"></i><span class="nav-level"><%= t('all.settings_n') %></span>
                  <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level <%= is_active_controller('users') %><%= is_active_controller('groups') %><%= is_active_controller('user_priority') %><%= is_active_controller('profiles') %><%= is_active_controller('areas') %>">

                  <% if arreglo[8][:crear] == 8 || arreglo[8][:editar] == 4 || arreglo[8][:leer] == 2 || arreglo[8][:eliminar] == 1 %>
                    <li class="<%= 'active' if current_page?('/users') %>">
                      <%= link_to '<i class="fa fa-users"></i>'.html_safe + t('all.user'), users_path %>
                    </li>
                  <% end %>

                  <!--Configuracion de Horarios-->
                  <% if arreglo[9][:crear] == 8 || arreglo[9][:editar] == 4 || arreglo[9][:leer] == 2 || arreglo[9][:eliminar] == 1 || (arreglo[10][:crear] == 8 || arreglo[10][:editar] == 4 || arreglo[10][:leer] == 2 || arreglo[10][:eliminar] == 1) %>
                    <li class="<%= 'active' if current_page?('/gestor_settings') %>">
                      <%= link_to '<i class="fa fa-clock-o"></i>'.html_safe + t('all.gestor_set'), gestor_settings_path %>
                    </li>
                  <% end %>
                  <!--Configuracion de Horarios-->

                  <!--Groups-->
                  <% if (arreglo[10][:crear] == 8 || arreglo[10][:editar] == 4 || arreglo[10][:leer] == 2 || arreglo[10][:eliminar] == 1) || (arreglo[11][:crear] == 8 || arreglo[11][:editar] == 4 || arreglo[11][:leer] == 2 || arreglo[11][:eliminar] == 1) %>
                    <li class="<%= 'active' if current_page?('/groups') %>">
                      <%= link_to '<i class="fa fa-envelope"></i>'.html_safe + t('all.mail_Groups'), groups_path %>
                    </li>
                  <% end %>
                  <!--Groups-->

                  <% if (arreglo[11][:crear] == 8 || arreglo[11][:editar] == 4 || arreglo[11][:leer] == 2 || arreglo[11][:eliminar] == 1) || (arreglo[12][:crear] == 8 || arreglo[12][:editar] == 4 || arreglo[12][:leer] == 2 || arreglo[12][:eliminar] == 1) %>
                    <li class="<%= 'active' if current_page?('/users') %>">
                      <%= link_to '<i class="fa fa-arrow-up"></i>'.html_safe + t('all.user_p'), user_priority_index_path %>
                    </li>
                  <% end %>

                  <% if arreglo[12][:crear] == 8 || arreglo[12][:editar] == 4 || arreglo[12][:leer] == 2 || arreglo[12][:eliminar] == 1 %>
                    <li class="<%= is_active_controller('profiles') %>">
                      <%= link_to '<i class="fa fa-user"></i>'.html_safe + t('all.profiles'), profiles_path %>
                    </li>
                  <% end %>

                  <% if arreglo[12][:crear] == 8 || arreglo[12][:editar] == 4 || arreglo[12][:leer] == 2 || arreglo[12][:eliminar] == 1 %>
                    <li class="<%= is_active_controller('areas') %>">
                      <%= link_to '<i class="fa fa-sticky-note"></i>'.html_safe + t('all.areas'), areas_path %>
                    </li>
                  <% end %>
                  <% if arreglo[12][:crear] == 8 || arreglo[12][:editar] == 4 || arreglo[12][:leer] == 2 || arreglo[12][:eliminar] == 1 %>
                    <li class="<%= is_active_controller('states') %>">
                      <%= link_to '<i class="fa fa-adjust"></i>'.html_safe + t('all.states_alert'), states_path  %>
                    </li>
                  <% end %>

                  <li class="nav nav-second-level <%= is_active_controller('filtering_categorization') %>">
                    <%= link_to '<i class="fa fa-filter"></i> Caracterizacion de Filtros'.html_safe, filtering_categorizations_path %>
                  </li>

                  <li class="nav nav-second-level <%= is_active_controller('filtering_categorization') %>">
                    <%= link_to '<i class="fa fa-filter"></i> Generacion de Filtros'.html_safe, filtering_categorizations_path %>
                  </li>

                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    <% end %>
  <% end %>

<% else %>
<% end %>

<script>
    $("#abre").click(function () {
        var tiene = $(this).hasClass("cerrado")
        if (tiene == false) {
            $(this).removeClass("abierto")
            $(this).addClass("cerrado")
            $("#menu").hide();
        } else {
            $(this).removeClass("cerrado")
            $(this).addClass("abierto")
            $("#menu").show();
        }
    })
</script>