<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'ks-clasico-icono.png' %>
  <title><%= t('all.general_title') %></title>
  <%#= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
  <%#= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>

<% if current_user %>

    <body class="pace-done">

    <!-- Wrapper-->
    <div id="wrapper">
      <input type="hidden" class="controllerName" value="<%= controller_name %>">
      <input type="hidden" class="actionName" value="<%= action_name %>">
      <div class="mensajeAlerta">
        <%= render 'home/mensajeAlerta' %>
      </div>

      <%= render 'layouts/navigation' %>

      <!-- Navigation -->

      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>

        <% if notice %>
            <p class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <label><%= notice %></label></p>
        <% end %>
        <% if alert %>
            <p class="alert alert-danger alert-dismissible ">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <label id="msj"><%=  alert %></label></p>
        <% end %>

        <!-- Main view  -->
        <% if !is_active_controller('home') %>
            <%= render 'layouts/counters' %>
        <% end %>

        <%= yield %>

        <!-- Footer -->
        <%= render 'layouts/footer' %>

      </div>
      <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    </body>

    <%#= !is_active_controller('home') and is_active_controller('niv_alertamiento') %>

    <%#= javascript_include_tag ('cierre_session') if (!is_active_controller('home') || !is_active_controller('niv_alertamiento')) %>
    <%#= javascript_include_tag ('cierre_session') if (!is_active_controller('niv_alertamiento') && is_active_controller('niv_alertamiento'))%>
    <%#= javascript_include_tag ('cierre_session') if !is_active_controller('niv_alertamiento') %>

    <input type="hidden" id="expire_txt" value="<%= t('views.users_activate.expire')%>">
    <input type="hidden" id="exp_title_txt" value="<%= t('views.users_activate.exp_title')%>">
    <input type="hidden" id="exp_mess_txt" value="<%= t('views.users_activate.exp_mess')%>">
    <input type="hidden" id="title_txt" value="<%= t('views.users_activate.title')%>">
    <input type="hidden" id="text_txt" value="<%= t('views.users_activate.text')%>">
    <input type="hidden" id="btn_conf_txt" value="<%= t('views.users_activate.btn_conf')%>">

    <%# if is_active_controller('home') %>
        <%#= javascript_include_tag ('cierre_session') if !is_active_controller('home') %>
    <%# elsif is_active_controller('niv_alertamiento') %>
        <%#= javascript_include_tag ('cierre_session') if !is_active_controller('niv_alertamiento') %>
    <%# else %>
        <%#= javascript_include_tag ('cierre_session') %>
    <%# end %>


<% else %>

    <body style="background-color: #f3f3f4;">
    <%#= current_user.name %>

    <% if notice %>
        <div class="container">
          <div class="alert alert-success alert-dismissable">
            <p>
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <label><%= notice %></label></p>
          </div>
        </div>
    <% elsif alert %>
        <!--<<div class="ibox-content ">-->
        <div class="container">
          <div class="alert alert-danger alert-dismissable">
            <p>
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <label id="msj1"><%= alert %></label></p>
          </div>
        </div>
    <% end %>
    <div>
      <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6">
          <%= yield %>
        </div>
        <div class="col-md-3">
          <p><br><br><br><br></p>
          <%#= link_to t('views.sessions_new.reactivation'), expired_accounts_new_path, :class => 'btn btn-danger', :id => "activarCuenta1", :style => "display:none" %>
        </div>

      </div>
    </div>
<% end %>
</body>
<%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>
<%= javascript_include_tag 'plugin/pace/pace', 'data-pace-options' => '{ "restartOnRequestAfter": true }' %>

<%= yield :stylesheet %>
<%= yield :javascript %>

<% if action_name == 'niv_alertamiento' %>
  <%= javascript_include_tag 'plugin/chartjs/chart.js' %>
  <%= yield(:scripts).present? ? yield(:scripts) : render(partial: 'layouts/scripts') %>
<% end %>
</html>

<style>
  .btn-error {
    -webkit-animation: shake 0.5s;
    -moz-animation: shake 0.5s;
    animation: shake 0.5s;
  }

  /* From Dan Eden's animate.css: http://daneden.me/animate/ */
  @-webkit-keyframes shake {
    0%, 100% {
      -webkit-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      -webkit-transform: translateX(10px);
    }
  }

  @-moz-keyframes shake {
    0%, 100% {
      -moz-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      -moz-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      -moz-transform: translateX(10px);
    }
  }

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }
</style>

<script>
  <% if controller_name == "alertn" && (action_name == "alertPer" || action_name == "alertTran") %>

    //----- Fixed para Counters
    $(document).ready(function () {

        $(window).ready(function () {
            if ($(this).scrollTop() > 95) {
                $('#conte').addClass('fixedcount');
                $('#conte').removeClass('row');
                $('#conte').removeClass('flexbox');
                $('#margen').addClass('mar');

                $("#a1, #a2, #a3").hide();

                $('#p2, #p3, #p4').removeClass('navy-bg');
                $('#p2, #p3, #p4').addClass('navy-bg-tam');
                $('#text h3').css('font-size', '12px');
                $('#text h2').css('font-size', '12px');
            } else {
                $('#conte').removeClass('fixedcount');
                $('#conte').addClass('row');
                $('#conte').addClass('flexbox');
                $('#margen').removeClass('mar');

                $("#a1, #a2, #a3").show();
                $('#p2, #p3, #p4').removeClass('navy-bg-tam');
                $('#p2, #p3, #p4').addClass('navy-bg');
                $('#text h3').css('font-size', '16px');
                $('#text h2').css('font-size', '24px');
            }
        });
        //
        $(window).scroll(function () {
            if ($(this).scrollTop() > 95) {
                $('#conte').addClass('fixedcount');
                $('#conte').removeClass('row');
                $('#conte').removeClass('flexbox');
                $('#margen').addClass('mar');

                $("#a1, #a2, #a3").hide();

                $('#p2, #p3, #p4').removeClass('navy-bg');
                $('#p2, #p3, #p4').addClass('navy-bg-tam');
                $('#text h3').css('font-size', '12px');
                $('#text h2').css('font-size', '12px');
            } else {
                $('#conte').removeClass('fixedcount');
                $('#conte').addClass('row');
                $('#conte').addClass('flexbox');
                $('#margen').removeClass('mar');

                $("#a1, #a2, #a3").show();
                $('#p2, #p3, #p4').removeClass('navy-bg-tam');
                $('#p2, #p3, #p4').addClass('navy-bg');
                $('#text h3').css('font-size', '16px');
                $('#text h2').css('font-size', '24px');
            }
        });
    });
    // ----- Fixed para Counters

  <% end %>

  $(document).ready( function(){

      contador = 0
      $("#botonmin").click(function () {
          contador++


          if(contador == 1){
              //----Cerrado el Nav
              console.log(contador)

              $(window).scroll(function () {

                  //----ScrollCounter
                  if ($(this).scrollTop() > 95) {
                      $('#conte').css('left','85px')
                  } else {
                      console.log("Tengo menos de 95")
                      $('#conte').css('width','')
                  }

                  //----ScrollDetail
                  if( $(this).scrollTop() > 246 ){
                      $('#numTarjeta').css('left','85px');
                      $('#detail').css('left','106px');
                  } else {
                      $('#numTarjeta').css('width','');
                      $('#detail').css('width','');
                  }
              });

          } else if(contador == 2){
              console.log(contador)
              //----Abierto el Nav
              $(window).scroll(function () {

                  if ($(this).scrollTop() > 95) {
                      $('#conte').css('left','236px')
                  } else {
                      console.log("Tengo menos de 95")

                  }

                  //----ScrollDetail
                  if( $(this).scrollTop() > 246 ){
                      $('#numTarjeta').css('left','236px');
                      $('#detail').css('left','255px');
                  } else {

                  }
              });

              contador = 0
          }

      });
  });
    $(document).ready(function () {
        setInterval(
            function () {
                $(".mensajeAlerta").load('../home/mensajeAlerta')
                $('#toast-container').addClass("btn-error")
            }, 30000)

        setInterval(
            function () {
                $('#toast-container').removeClass("btn-error")
            }, 30500)
    });

</script>